<mat-card class="home-title" appearance="outlined">
    <mat-card-content>TRIVIA</mat-card-content>
</mat-card>

<mat-card appearance="outlined">
    <div class="home-button-container">
        <button mat-fab color="primary" routerLink="/trivia" *ngIf="eligible">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-fab color="accent" routerLink="/info">
            <mat-icon>info</mat-icon>
        </button>
        <button mat-fab color="warn" routerLink="/stats">
            <mat-icon>assessment</mat-icon>
        </button>
    </div>
</mat-card>
